body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}

.hero {
    background-color: #000080; 
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 { 
    color: #ffffff;
    font-size: 36px;
}

.hero p {
    color: #D3D3D3;
    font-size: 18px;
}


.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D3D3D3;
    color: #000080;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: #ffffff;
    color: #000080;
    transform: scale(1.05);
    cursor: pointer;
}
.resume-link {
    display: inline-block; 
    padding: 10px 20px;  
    margin: 20px 0;      
    border: 2px solid #333; 
    background-color: #f0f0f0; 
    
    text-decoration: none;  
    color: #333;           
    font-weight: bold;
    
    border-radius: 5px;
}
.my-activities-list {

    list-style-type: square;
    

    margin: 20px 0;
    padding-left: 40px;
}

.my-activities-list li {

    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.my-activities-list li:hover {
    color: #f1b82d;
    cursor: default;
}



