body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}
header { 
    width: 100%;
    background-color: #333; 
    overflow: visible; 
}
.hero {
    background-color: #000080; 
    color: white;
    padding: 80px 20px;
    text-align: center;
} 

.hero h1 { 
    color: #ffffff;
    font-size: 36px;
}

.hero p {
    color: #D3D3D3;
    font-size: 18px;
}


.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D3D3D3;
    color: #000080;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: #ffffff;
    color: #000080;
    transform: scale(1.05);
    cursor: pointer;
}
.resume-link {
    display: inline-block; 
    padding: 10px 20px;  
    margin: 20px 0;      
    border: 2px solid #333; 
    background-color: #f0f0f0; 
    
    text-decoration: none;  
    color: #333;           
    font-weight: bold;
    
    border-radius: 5px;
}
.my-activities-list {

    list-style-type: square;
    

    margin: 20px 0;
    padding-left: 40px;
}

.my-activities-list li {

    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.my-activities-list li:hover {
    color: #f1b82d;
    cursor: default;
}
.reflection-container {
    border: 2px solid #333;
    padding: 20px 25px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}
.second-paragraph,
.third-paragraph,
.fourth-paragraph {
    text-indent: 2em;
}
.footer-contact {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.footer-icon {
    width: 20px; 
    height: auto;
}
@media print {
    header, 
    nav, 
    img, 
    video, 
    figcaption, 
    .resume-link, 
    .video {
        display: none !important;
    }
    body {
        font-family: "Times New Roman", serif !important;
        color: black !important;
        margin: 1in !important;
        background: white !important;
        font-size: 12pt;
        line-height: 1.5;
    }
    .footer-icon {
        display: none !important;
    }

    footer {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        text-align: left;
    }
    main {
        margin: 0 !important;
        padding: 0 !important;
    }

    h1, h2, h3 {
        page-break-after: avoid;
        margin-top: 10px;
    }
}
